html, body {
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
    background-image: url('img/pozadina1.jpg.jpg');
    width: auto;
    background-size: cover;
    background-position: center;
    height: 100%;
}


.header {
    background-color: #7CBB42;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 20px solid #4C7D3B;
}

.logo {
    width: 60px;
    margin-left: 0px;
}

.branding {
    display: flex;
    align-items: center;
}

.branding h1 {
    margin-left: 10px;
    font-size: 24px;
}

.contact-info a {
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.contact-info a:hover {
    color: #4C7D3B;
}


.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-logo img {
    width: 60px;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.nav-item a:hover {
    color: #7CBB42;
}


.main-content {
    padding: 50px;
    text-align: center;
    color: white;
}

.main-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    line-height: 1.5;
}


.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4C7D3B;
    border-radius: 5px;
}

.contact-form button {
    background-color: #7CBB42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.contact-form button:hover {
    background-color: #4C7D3B;
}


.footer {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 30px; 
    position: fixed; 
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-top: 5px;
}

.social-icons {
    margin-bottom: 5px;
}

.footer a {
    color: #44A08D;
    margin: 0 8px;
}

.footer ul {
    list-style: none;
}

.footer-links ul li {
    display: inline;
    margin: 0 15px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    width: 60px;
    margin-top: 20px;
    border-radius: 50%;
}

.social-icons i {
    font-size: 30px;
    margin: 0 15px;
    color: white;
}
